// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much

.sidebar {
  display: none;
}

body>header {
  background: none;
  h1, h2 {
    font-weight: bold;
    @include text-shadow(0px 1px 0px #999,
                         0px 2px 0px #888,
                         0px 3px 0px #777,
                         0px 4px 0px #666,
                         0px 5px 0px #555,
                         0px 6px 0px #444,
                         0px 7px 0px #333,
                         0px 8px 7px #001135);
  }
}

body>nav {
  @include box-shadow(#000 0 2px 5px);
  @include border-top-radius(0);
  @media only screen and (min-width: 1037px) {
    @include border-top-radius(.4em);
  }
}

body>div#main {
  @include box-shadow(#000 0 2px 5px);
}

body>footer {
  @include box-shadow(#000 0 2px 5px);
  @include border-bottom-radius(0);
  @media only screen and (min-width: 1037px) {
    @include border-bottom-radius(.4em);
  }
}

body>nav li+li {
  border: none;
}

body>nav li+li a {
  border: none;
}

body>nav li+li:before {
  display: block;
  height: 103%;
  overflow: hidden;
  width: 1px;
  position: absolute;
  top: -1px;
  content: "";
  @include box-shadow(rgba(255, 255, 255, 0.1) 1px 0 0 0);
  @include background-image(linear-gradient(top, #28363e 50%,#1e282f 100%));
}

article blockquote {
  font-family: $kai;
  font-style: normal;
  strong {
    font-family: $sans;
  }
  &:lang(en) {
    font-family: $italic;
    font-style: italic;
    strong {
      font-family: $italic;
    }
  }
}

em, dfn {
  font-style: normal;
  font-family: $emphasis;
  &[lang='zh'] {
    font-family: $kai;
    font-style: normal;
  }
}

sup {
  vertical-align: super;
}

.footnotes {
  p {
    margin: .5em 0;
  }
}
